@import './src/variables.scss';



.display-flex{
  display: flex;
}

.margin-auto{
  margin: auto;
}

.main-content{
  padding-top:150px;
}

button{
  padding: 15px 20px;
  border: none;
  font-weight: bold;
  height: 52px;
}

.background-color-first-color-theme{
  background-color: $first-color-theme
}

.background-color-second-color-theme{
  background-color: $second-color-theme
}

.border-color-first-color-theme{
  border-color: $first-color-theme
}

.border-color-second-color-theme{
  border-color: $second-color-theme
}

.font-color-first-color-theme{
  color: $first-color-theme
}

.font-color-second-color-theme{
  color: $second-color-theme
}

@media screen and (max-width:980px) {
  .hide-mobile{
      display: none;
  }
}

@media screen and (max-width:469px) {
  button{
    height: unset;
  }
}