@import './src/variables.scss';

:host ::ng-deep .slick-prev::before, 
:host ::ng-deep .slick-next::before{
    color: $first-color-theme;
}

.field{
    text-align: right;
    font-weight:bold;
}

.details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-container .row:not(:first-of-type){
    margin-top: 30px;
}

.details-button{
    text-align: center;
}

@media screen and (max-width:767px){
    .field,
    .details-button{
        text-align: left;
    }
}

@media screen and (max-width:569px){
    .details-container .row{
        margin-top: 30px;
    }
}